* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

textarea {
  -webkit-appearance: none;
}

body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: "Microsoft Yahei", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
  background: #F3F7FD;
  color: #333;
  font-family: Arial, Microsoft YaHei, Helvetica, sans-serif;
}

body {
  padding-right: 0 !important;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #535353;
  background-clip: padding-box;
  border-radius: 10px;
}